<html>
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <body>
        <h1><%= pelicula.title %> </h1>
        <div>Duración: <%=pelicula.length%> minutos</div>
        <div>Rating: <%=pelicula.rating%></div>
        <div>Premios: <%= pelicula.awards%> </div>
        <div>Fecha de estreno: <%= pelicula.release_date %> </div>
        <% if(pelicula.generos){%> 
            <div>Genero: <%=pelicula.generos.name%></div>
            <%} %>
        <div>Actores: 
            <ul>
                <% for (let j=0; j<pelicula.actores.length; j++){ %>
                    <li>
                        <%= pelicula.actores[j].first_name %> <%= pelicula.actores[j].last_name %>
                        
                    </li>
                    <% } %> 
             </ul>
        </div>
        <br>
    
    </form>
        <a href="/movies"><button type="submit">Regresar</button></a>     
    </body>
</html>