<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" type="text/css" href="../css/styles.css"/>

<body>
	
	<div>
		<div>
			<div>
				<h2>Formulario de creación de películas</h2>
			</div>
		</div>
		<div>
			<form action="/movies/create" method="POST">
				<div class="row product-detail">
					<br>
					<div >
						<label for="title" class="form-label">Título de la película:</label>
						<input type="text" value="<%= locals.old && old.title %>"id="title" name="title" placeholder="Ej: Harry Potter" class="form-input" required>
						<% if (locals.errors && errors.title) { %>
							<p class = "feedback"><%=errors.title.msg%></p><br>
							<% } %>
					</div>
					<div >
						<label for="rating" class="form-label">Rating de la película:</label>
						<input type="text" value="<%= locals.old && old.rating%>" id="rating" name="rating" placeholder="Ej: 7.2" class="form-input" required>
						<% if (locals.errors && errors.rating) { %>
							<p class = "feedback"><%=errors.rating.msg%></p><br>
							<% } %>
					</div>
					
					<div >
						<label for="awards" class="form-label">Premios de la película:</label>
						<input type="number" value="<%= locals.old && old.awards %>" name="awards" id="awards" placeholder="Ej: 2" class="form-input" required>
						<% if (locals.errors && errors.awards) { %>
							<p class = "feedback"><%=errors.awards.msg%></p><br>
							<% } %>
					
					</div>

					<div >
						<label for="length" class="form-label">Duración en minutos</label>
						<input type="number" value="<%= locals.old && old.length %>" name="length" id="length" placeholder="Ej: 180" class="form-input" required>
						<% if (locals.errors && errors.length) { %>
							<p class = "feedback"><%=errors.length.msg%></p><br>
							<% } %>
					
					</div>

					<div >
						<label for="release_date" class="form-label">Fecha de estreno:</label>
						<input type="date" value="<%= locals.old && old.release_date %>" name="release_date" id="release_date" class="form-input" required>
						<% if (locals.errors && errors.release_date) { %>
							<p class = "feedback"><%=errors.release_date.msg%></p><br>
							<% } %>
					
					</div>
					<div >
						<button type="submit" class="buy-now-button" style="background: darkcyan;color:white";>Guardar película</button>
					</div>
				</div>
			</form>
		</div>

	</div>

</body>	
</html>