<!DOCTYPE html>
<html lang="es">

<body>

	<link rel="stylesheet" type="text/css" href="../../css/styles.css"/>
	

	<div>
		<div>
			<div>
				<h2>Formulario de edición de películas</h2>
			</div>
		</div>
		<div >
			<form action="/movies/<%=pelicula.id%>/update" method="POST">
				<div class="row product-detail">
					<br>
					<div>
						<label for="title" class="form-label">Título:</label>
						<input type="text" id="title" name="title" value="<%= pelicula.title %>" class="form-input" required>
						<% if (locals.errors && errors.title) { %>
							<p class = "feedback"><%=errors.title.msg%></p><br>
							<% } %>
					</div>
					<div>
						<label for="rating" class="form-label">Rating de la película:</label>
						<input type="text" id="rating" name="rating" value="<%=pelicula.rating%>" class="form-input" required>
						<% if (locals.errors && errors.rating) { %>
							<p class = "feedback"><%=errors.rating.msg%></p><br>
							<% } %>
					</div>
					
					<div>
						<label for="awards" class="form-label">Premios:</label>
						<input type="number" name="awards" id="awards" value="<%= pelicula.awards%>" class="form-input" required>
						<% if (locals.errors && errors.awards) { %>
							<p class = "feedback"><%=errors.awards.msg%></p><br>
							<% } %>	
					</input>
					</div>

					<div >
						<label for="length" class="form-label">Duración en minutos</label>
						<input type="number" name="length" id="length" value="<%=pelicula.length%>" class="form-input" required>
						<% if (locals.errors && errors.length) { %>
							<p class = "feedback"><%=errors.length.msg%></p><br>
							<% } %>
					</div>

					<div >
						<label for="release_date" class="form-label">Fecha de estreno:</label>
						<input type="date" name="release_date" id="release_date" value="<%= pelicula.release_date %>" class="form-input" required>
						<% if (locals.errors && errors.release_date) { %>
							<p class = "feedback"><%=errors.release_date.msg%></p><br>
							<% } %>
					</div>
					<div >
						<button type="submit" class="buy-now-button" style="background: darkcyan;color:white";>Guardar película</button>
						
					</div>
				</div>
			</form>
			<a href="/movies"><button class="regresar" style="background: darkcyan;color:white";>Regresar</button></a>
		</div>

	</div>
</body>	
</html>